STAT 2255: Exercise 06
======================

## Problem 1

The file "`Game_of_Thrones_Script.csv`" contains line script for
characters across 8 seasons. Use this file, answer the following
question. You may need to set `keep_default_na=False` when loading the data,
e.g.,

In [1]:
import pandas as pd
pd.read_csv("Game_of_Thrones_Script.csv", keep_default_na=False)

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011/4/17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011/4/17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011/4/17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.
...,...,...,...,...,...,...
23906,2019/5/19,Season 8,Episode 6,The Iron Throne,brienne,I think we can all agree that ships take prece...
23907,2019/5/19,Season 8,Episode 6,The Iron Throne,bronn,I think that's a very presumptuous statement.
23908,2019/5/19,Season 8,Episode 6,The Iron Throne,tyrion lannister,I once brought a jackass and a honeycomb into ...
23909,2019/5/19,Season 8,Episode 6,The Iron Throne,man,The Queen in the North!
23910,2019/5/19,Season 8,Episode 6,The Iron Throne,all,The Queen in the North! The Queen in the North...

### part (a)

How many characters are there across all 8 seasons?

In [2]:
import pandas as pd
df1 = pd.read_csv("Game_of_Thrones_Script.csv", keep_default_na=False)
df1['Name'].nunique()

564

### part (b)

How many characters are there in each season?

**Note:** These numbers do not have to add to the number you get in part
(a).

In [3]:
g = df1.groupby('Season')
ncs = g['Name'].apply(lambda x: x.nunique())
ncs

Season
Season 1    146
Season 2    147
Season 3    124
Season 4    156
Season 5    142
Season 6    153
Season 7     73
Season 8     65
Name: Name, dtype: int64

### part (c)

Which episode has the least number of characters?

In [4]:
ge = df1.groupby('Episode')
ncs = ge['Name'].apply(lambda x: x.nunique())
ncs
ncs.idxmin(), "has", ncs.min(), "characters."

('Episode 9', 'has', 134, 'characters.')

In [5]:
ncs.idxmin()

'Episode 9'

In [6]:
ncs.nsmallest(1)

Episode
Episode 9    134
Name: Name, dtype: int64

### part (d)

which episode has the most line of sentences in total?

In [7]:
ge = df1.groupby('Episode')
n_lines = ge['Sentence'].apply(lambda x: x.count())
n_lines.idxmax()

'Episode 5'

### part (e)

Across all 8 seasons, list the top 5 charaters who had the most
sentences and how many sentences they have said.

In [8]:
gn = df1.groupby('Name')
n_lines = gn['Sentence'].apply(lambda x: x.count())
a = n_lines.nlargest(5)
a

Name
tyrion lannister      1760
jon snow              1133
daenerys targaryen    1048
cersei lannister      1005
jaime lannister        945
Name: Sentence, dtype: int64

### part (f)

For season 3, list the top 5 charaters who had the most
sentences and how many sentences they have said.

In [9]:
gn = df1[df1['Season'] == 'Season 3'].groupby('Name')
n_lines = gn['Sentence'].apply(lambda x: x.count())
n_lines.nlargest(5)

Name
tyrion lannister      241
jaime lannister       129
daenerys targaryen    117
arya stark            104
robb stark             99
Name: Sentence, dtype: int64

### part (g)

Based on the **Sentence** column, create a new column called `num_words`
which gives the total number of words in the sentence.

In [10]:
df1['num_words'] = df1['Sentence'].apply(lambda x: len(x.split()))
df1.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence,num_words
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...,25
1,2011/4/17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...,21
2,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?,5
3,2011/4/17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.,5
4,2011/4/17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.,7

### part (h)

For numeric variables, we can use some quantities to summarize. For this
part, first split the data based on season. Then, for variable
`num_words`, calculate

-   minimum
-   mean
-   median
-   maximum
-   summation

In [11]:
g['num_words'].agg(['min','mean','median', 'max', 'sum'])

          min       mean  median  max    sum
Season
Season 1    1  11.867568     8.0  256  37727
Season 2    1  11.989525     8.0  332  46927
Season 3    1  11.781976     8.0  293  42097
Season 4    1  12.035403     7.0  233  41474
Season 5    1  12.381219     8.0  219  37577
Season 6    1  12.747899     8.0  192  36408
Season 7    1  13.232596     9.0  163  32314
Season 8    1   9.216235     6.0  102  13511

## Problem 2

The file "Kobe_data.csv" contains shot records of NBA basketball player Kobe Bryant for his career.

In [12]:
kobe = pd.read_csv('kobe_data.csv')

### part (a)

Create a relative frequency table using `combined_shot_type` and
`shot_zone_range` and set `margins=True`.

In [13]:
a = pd.crosstab(kobe.combined_shot_type, kobe.shot_zone_range, margins=True)
a

shot_zone_range,16-24 ft.,24+ ft.,8-16 ft.,Back Court Shot,Less Than 8 ft.,All
combined_shot_type,,,,,,
Bank Shot,5,1,75,0,60,141
Dunk,0,0,1,0,1285,1286
Hook Shot,1,0,32,0,120,153
Jump Shot,8308,6274,6513,83,2307,23485
Layup,1,0,5,0,5442,5448
Tip Shot,0,0,0,0,184,184
All,8315,6275,6626,83,9398,30697

### part (b)

As we talked during the class, this relative frequency table give the
empirical probabilities associated with different categories. Based on
the table, what is kobe's most commonly used shooting type?

In [14]:
a['All'].iloc[:6].idxmax()

'Jump Shot'

### part (c)

For shots made less than 8ft, what is Kobe's most commonly used
shooting type? What is the empirical conditional probability here?

**Hint**:

Conditional probability of A given B can be calculated by:

$$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

In [15]:
print("For shots made less than 8ft, his most commonly used shooting type is: ",
      a['Less Than 8 ft.'].iloc[:6].idxmax())
print('The empirical conditional probability is: ',
      a['Less Than 8 ft.'].iloc[:6].max() / a['Less Than 8 ft.'].loc['All'])

For shots made less than 8ft, his most commonly used shooting type is:  Layup
The empirical conditional probability is:  0.5790593743349649