In [1]:
# Some configuations
# This cell defines a magic command to ensure that the script doesn't stop due
# to any error arising in that cell.
from IPython.core.magic import register_cell_magic
@register_cell_magic('handle')
def handle(line, cell):
    try:
#         exec(cell)  # doesn't return the cell output though
        return eval(cell)
    except Exception as exc:
        print(f"\033[1;31m{exc.__class__.__name__} : \033[1;31;47m{exc}\033[0m")
        # raise # if you want the full trace-back in the notebook

# Overall Picture 
```
Programs                           
 └──Modules                                                     
     └──Statements                                
         └──Expressions
```

# Expressions and Evaluation

Expressions create and process objects. In an informal sense, 
>"we do **things** with **stuffs**"

In [2]:
2 + 2

4

* **Things** take the form of **operations** such as addition and concatenation.
* **Stuffs** refer to the **objects** on which we perform those operations.
* Expressions get evaluated and produce a value (object).
* Objects are essentially just pieces of memory, with values and sets of associated operations.

# Object Types

Here we go over some of the Python's core data types. Although this is not complete because everything we process in Python programs is a kind of object, they will suffice for our course.
```
Object Types
       ├──Numbers
       ├──String
       ├──Lists
       ├──Tuples
       ├──Dictionaries
       └──Sets
```

## Numbers

* integers
* floating-point numbers

In [3]:
365 + 10

375

In [4]:
22 + 55

77

In [5]:
2 * 4

8

### Operations involving mixed types

1. Python first converts operands up to the type of the most complicated operand
2. and then performs the math on same-type operands

In [6]:
200 + 1.3

201.3

In [7]:
5 * (1 + 3) / (6 - 1)

4.0

In [8]:
1/3

0.3333333333333333

In [9]:
type(1/3)

float

### More operations
<!-- Calculate $x^y$. -->

In [10]:
4**2 # ** are used for exponentiation.

16

In [11]:
pow(2, 5) # 2**5

32

In [12]:
round(3.14153, 3)

3.142

In [13]:
abs(-1.5)

1.5

In [14]:
5 % 2 # modulo operation

1

In [15]:
5 % 5 # modulo operation

0

In [16]:
5 // 2 # floor division which truncates the result down to its floor, 
       # which means the closest whole number below the true result.

2

In [17]:
5//-2 # why?

-3

In [18]:
5 <= 2 # <, >, <=, >=

False

In [19]:
5 == 5 # ==, !=

True

In [20]:
5 == 5.0

True

In [21]:
5 != 5 # ==, !=

False

In [22]:
5 > 4 > 3

True

In [23]:
5 > 4 and 4 > 3 # and, or

True

In [24]:
5 == 6 or 5 < 6

True

In [25]:
5 <= 6

True

**More from the `math` modules.**

In [26]:
import math

In [27]:
math.pi

3.141592653589793

In [28]:
math.exp(2.8)

16.444646771097048

In [29]:
math.sqrt(2)

1.4142135623730951

In [30]:
math.ceil(3.4)

4

### Booleans

Boolean type, **bool**, is numeric in nature because its two values, `True` and `False`, are just customized versions of the integers 1 and 0 that print themselves differently.

In [31]:
type(True)

bool

In [32]:
True == 1

True

In [33]:
True + 5.0

6.0

In [34]:
True + False

1

In [35]:
True == 1.0

True

## Strings

* Strings are used to record textual information.
* Strings are sequences of one-character strings.
* They are our first example of what in Python we call a **sequence**—a positionally ordered collection of other objects. 
* Their items are stored and fetched by their relative positions

In [36]:
"Hello"

'Hello'

In [37]:
'world'

'world'

In [38]:
S = 'Python'
S

'Python'

- The above is an assignment statement that assigns string 'Python' to variable named 'S'.
- We will talk more about statement later.
- The equals sign is doing something (assignment) rather than describing something (equality). 
  - The right hand side of `=` is an expression that gets evaluated first.
  - Only later does the assignment happen.
  - If the left hand side of the assignment is a variable name that already exist, it is overwritten.
  - If it doesn’t already exist, it is created.

### Sequence Operation
#### Indexing

In [39]:
len(S) # length of S

6

In [40]:
S[0] # String indexing in Python is zero-based

'P'

In [41]:
S[2]

't'

Negative indices count backwards from the end of the list

In [42]:
S[-6]

'P'

In [43]:
S[-1] # The last item from S

'n'

In [44]:
S[-2]# The second last item from S

'o'

<img src="figures/python-string.png"
     align="left"
     width = 500/>

To fetch multiple items, the general form is `S[i:j]`.
- It will give us items from the (`i+1`)th position up to but **not** including the (`j+1`)th position;
- So, from (`i+1`)th to `j`.

In [45]:
S[2:5] # give us from 3th to 5th

'tho'

In [46]:
S[1:] # from 2nd to the last

'ython'

In [47]:
S[:4] # same as S[0:4], from the beginning up to 4th

'Pyth'

In [48]:
S[0:4]

'Pyth'

In [49]:
S[:-1] # Everything but the last

'Pytho'

In [50]:
S[-2:] # from the second last to the last

'on'

In [51]:
S[::]

'Python'

In [52]:
S[::2] # from the beginning to the end with step of 2

'Pto'

In [53]:
S[::-3] # from the end to the beginning with step of 3

'nt'

The general form is
```python
S[begin:end:step]
```

In [54]:
S[5:1:-2]

'nh'

In [55]:
S[1:5:-2]

''

#### Concatenation

In [56]:
'Hello' + 'world'

'Helloworld'

In [57]:
S + 'xyz'

'Pythonxyz'

#### repetition

In [58]:
'Hello' + 'Hello' + 'Hello' + 'Hello'

'HelloHelloHelloHello'

In [59]:
'Hello' * 4

'HelloHelloHelloHello'

- Notice the `+` and `*` mean different things for different objects.
- This is called *polymorphism*, which is the meaning that **an operation depends on the objects being operated upon**. 
- Those string operations (indexing, concatenation and repetition) we have seen so far is really **sequence operation**.
- They also work on other sequences in Python as well, including **lists** and **tuples**.

### string type specific operations

In [60]:
S.find("y") # find index of y

1

In [61]:
S.replace('th', 'ht')

'Pyhton'

In [62]:
S

'Python'

- Notice the original string S was not changed.
- The `.replace` operation just create new string as result.
- This is because a string is immutable, which we will talk about later.

In [63]:
line = 'aaa,bbb,sss'
line.split(",") # Split on a delimiter into a list of substrings

['aaa', 'bbb', 'sss']

In [64]:
S.upper() # Upper- and lowercase conversions

'PYTHON'

In [65]:
S

'Python'

In [66]:
line = 'aaa,bbb,ccccc,dd\t\n end'
print(line)

aaa,bbb,ccccc,dd
 end

In [67]:
print('aaa,bbb,ccccc,dd\n\t \t h\t        ')

aaa,bbb,ccccc,dd
	 	 h

In [68]:
line = 'aaa,bbb,ccccc,dd\n\t \t h\t          '
print(line.rstrip()) # Remove whitespace characters on the right side

aaa,bbb,ccccc,dd
	 	 h

In [69]:
line.rstrip() == line

False

- There are many more yet to be covered.
- Use `dir(S)` to see all the attributes and functions for object type associated with variable S (string) here.

In [70]:
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [71]:
help(S.zfill)

Help on built-in function zfill:

zfill(width, /) method of builtins.str instance
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.

In [72]:
S.zfill(8)

'00Python'

## Lists
- The Python list object is the most general **sequence** provided by the language.
- Lists are positionally ordered collections of **arbitrarily** typed objects, and they have no fixed size.

In [73]:
L = [1, 2, 'Python', 2.22, 3.14]
L

[1, 2, 'Python', 2.22, 3.14]

### Sequence Operations

- Because they are sequences, lists support all the sequence operations we discussed for strings; 
- the only difference is that the results are usually lists instead of strings

In [74]:
len(L)

5

In [75]:
L[1]

2

In [76]:
L[1:2]

[2]

In [77]:
L[2:4]

['Python', 2.22]

In [78]:
L[::2]

[1, 'Python', 3.14]

In [79]:
L[::-2]

[3.14, 'Python', 1]

### List Type-Specific Operations

#### Append

`append` method expands the list’s size and inserts an item at the end.

In [80]:
L

[1, 2, 'Python', 2.22, 3.14]

In [81]:
L.append(8)
L

[1, 2, 'Python', 2.22, 3.14, 8]

#### Pop

`pop` method removes an item at a given index and return the value that is removed.

In [82]:
L.pop(-1)

8

In [83]:
L

[1, 2, 'Python', 2.22, 3.14]

#### Insert

`insert` method insert an item at any given position

In [84]:
L.insert(2, 'hello')
L

[1, 2, 'hello', 'Python', 2.22, 3.14]

#### Remove

`remove` method removes a value in a list.

In [85]:
L.remove('hello')
L

[1, 2, 'Python', 2.22, 3.14]

#### Sort

`sort` method sort a list.

In [86]:
help(L.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [87]:
L_number = [1, 7, 5, 6, 2, 3]
L_number.sort()
L_number

[1, 2, 3, 5, 6, 7]

In [88]:
L_number.sort(reverse=True)
L_number

[7, 6, 5, 3, 2, 1]

#### Nesting

You can nest a list in another list

In [89]:
M = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### List Comprehension

List comprehension is useful if you want to create a new list based on an existing list

`newlist = [expression for item (can be anything) in iterable (existing list name) if condition == True]`

In [90]:
L_number

[7, 6, 5, 3, 2, 1]

In [91]:
new_L_number = [2 * item for item in L_number if item > 3] # get all the items in L_number that are greater than 3
new_L_number

[14, 12, 10]

In [92]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [93]:
second_item = [i[1] for i in M] # get the second item from each nested list from M and create a new list
second_item

[2, 5, 8]

#### range

`range(start, stop, step)` is a Python built-in that generate successive integers, and requires a surrounding list to display all its values

In [94]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [95]:
range(10)

range(0, 10)

In [96]:
list(range(10)) # default is start from 0, to 10 (not including) - [start, stop) half open

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
list(range(-10, 10, 2)) # from -10 to 10 (not including) with step of 2

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [98]:
[[item+1, item+2] for item in range(-10, 10, 2) if item > 0]

[[3, 4], [5, 6], [7, 8], [9, 10]]

## Tuples
- The tuple object is roughly like a list that cannot be changed.
- Tuples are sequences, like lists, but they are immutable, like strings.

In [99]:
T = (1, 2, 3, 4)
T

(1, 2, 3, 4)

In [100]:
T + (2, 3)

(1, 2, 3, 4, 2, 3)

In [101]:
T * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [102]:
len(T)

4

In [103]:
T[1]

2

In [104]:
T[1:2]

(2,)

In [105]:
T[1:3]

(2, 3)

In [106]:
%%handle
T[0] = 9

SyntaxError : invalid syntax (<string>, line 1)

In [107]:
%%handle
T.append(3)

AttributeError : 'tuple' object has no attribute 'append'

In [108]:
dir(T)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [109]:
T = (2, 3)
type(T)

tuple

In [110]:
2, 3

(2, 3)

## Dictionaries

* Dictionaries are also collections of other objects, but they store **key:value** pairs. 
* Dictionaries are not sequences because they have no fixed ordering. 
* Dictionaries are coded in curly braces and consist of a series of “key: value” pairs.
* The name comes from the idea that in a real dictionary (book), a word (the key) allows you to find its definition (the value).
* Dictionaries are useful anytime we need to associate a set of values with keys—to describe the properties of something

### Creating a dictionary

In [111]:
D1 = {'color': 'pink', 'food': 'Spam', 'quantity': 4} 
D1

{'color': 'pink', 'food': 'Spam', 'quantity': 4}

In [112]:
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'} 
# key and pairs can be any type, but the keys have to be unique.
D

{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [113]:
D == D1

True

To fetch the values, instead of using the index, we need to use keys.

In [114]:
D['food']

'Spam'

In [115]:
%%handle
D[1]

KeyError : 1

### Creating a dictionary by starting with an empty Dictionary

In [116]:
D = {} # creating an empty dictionary
D

{}

In [117]:
D = dict() # another way of creating an empty dictionary
D

{}

In [118]:
D['name'] = 'Tom'
D['job'] = 'engineer'
D['age'] = 40
D

{'name': 'Tom', 'job': 'engineer', 'age': 40}

In [119]:
D['gender'] = "Male"
D

{'name': 'Tom', 'job': 'engineer', 'age': 40, 'gender': 'Male'}

In [120]:
dir(D)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [121]:
help(D.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [122]:
D.pop('gender')

'Male'

In [123]:
D

{'name': 'Tom', 'job': 'engineer', 'age': 40}

In [124]:
D[0] = 9
D

{'name': 'Tom', 'job': 'engineer', 'age': 40, 0: 9}

### Nesting in dictionary

In [125]:
Player1 = {'name': {'first': 'Lebron', 'last': 'James'},
'teams': ['Cavaliers', 'Heats', 'Lakers'],
'age': 37}
Player1

{'name': {'first': 'Lebron', 'last': 'James'},
 'teams': ['Cavaliers', 'Heats', 'Lakers'],
 'age': 37}

In [126]:
Player1['teams']

['Cavaliers', 'Heats', 'Lakers']

In [127]:
Player1['teams'][0]

'Cavaliers'

In [128]:
Player1['name']

{'first': 'Lebron', 'last': 'James'}

In [129]:
Player1['name']['first']

'Lebron'

### Test if a given key is in a dictionary

In [130]:
D = {'a':1, 'b':2, 'c':3}

In [131]:
%%handle
D['f']

KeyError : 'f'

In [132]:
'a' in D

True

In [133]:
'f' in D

False

In [134]:
D.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [135]:
l = list(D.items()) # get all the key-value pairs as tuples
l

[('a', 1), ('b', 2), ('c', 3)]

In [136]:
l[0] = 1
l

[1, ('b', 2), ('c', 3)]

In [137]:
D.keys()

dict_keys(['a', 'b', 'c'])

In [138]:
list(D.keys())

['a', 'b', 'c']

In [139]:
list(D.values())

[1, 2, 3]

In [140]:
for key, value in D.items():
    print('Values corresponding to key', key, "is", value)

Values corresponding to key a is 1
Values corresponding to key b is 2
Values corresponding to key c is 3

## Sets

* Sets correspond to our notion of sets in math. They are collections of objects **without** duplicates.
* As with dictionaries, set is also nonsequential collections.

### Creating a set

In [141]:
S = {2, 3, 1, 4, 2, 1}
S

{1, 2, 3, 4}

### Creating a set by starting with an empty set

In [142]:
S = {}
type(S)

dict

In [143]:
S = set()
S

set()

In [144]:
S.add(2)
S.add(3)
S.add(1)
S.add(4)
S

{1, 2, 3, 4}

In [145]:
S.add(1)
S

{1, 2, 3, 4}

In [146]:
S.update({5, 6})
S

{1, 2, 3, 4, 5, 6}

In [147]:
S.remove(6)
S

{1, 2, 3, 4, 5}

### Set operation

In [148]:
S1 = {2, 3, 1, 4, 2, 1}
S2 = {2, 5, 6}

In [149]:
S1

{1, 2, 3, 4}

In [150]:
S1 & S2 # intersection

{2}

In [151]:
S1 | S2 # union

{1, 2, 3, 4, 5, 6}

In [152]:
S1 - S2 # difference

{1, 3, 4}

In [153]:
S1 > S2 # superset?

False

In [154]:
S3 = {1, 2}
S1 > S3

True

### Why sets?

#### Filtering out duplicates out of other collections.

In [155]:
L = [1, 2, 1, 3, 2, 4, 5]
L

[1, 2, 1, 3, 2, 4, 5]

In [156]:
L = list(set(L))
L

[1, 2, 3, 4, 5]

#### Isolate differences in lists, strings, and other iterable objects

In [157]:
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

{3, 7}

#### Real examples

In [158]:
engineers = {'Bob', 'Sue', 'Ann', 'Vic'}
managers = {'Tom', 'Sue'}

In [159]:
'Bob' in engineers # Is bob an engineer?

True

In [160]:
engineers & managers # Both engineers and managers

{'Sue'}

How to find engineers who are not managers?

In [161]:
engineers - managers

{'Ann', 'Bob', 'Vic'}

## Mutable and Immutable

Before giving the difinition, let's first do some experiments

In [162]:
S = 'Python' # string
S

'Python'

In [163]:
%%handle
S[2] = "h"

SyntaxError : invalid syntax (<string>, line 1)

In [164]:
S = S + 'hello'

In [165]:
S

'Pythonhello'

In [166]:
L = [1, 2, 3, 4] # list
L[2] = 5
L

[1, 2, 5, 4]

In [167]:
L.append(5)
L

[1, 2, 5, 4, 5]

In [168]:
T = (1, 2, 3, 4) # Tuple
T + (6, 7)
T

(1, 2, 3, 4)

In [169]:
%%handle
T[2] = 5

SyntaxError : invalid syntax (<string>, line 1)

In [170]:
D = {'a': 1, 'b':2, 'c':3} # dictionary
D['d'] = 4
D['a'] = 3
D

{'a': 3, 'b': 2, 'c': 3, 'd': 4}

In [171]:
S1 = {1, 2, 3, 4}
S1.add(5)
S1

{1, 2, 3, 4, 5}

As we see from the above examples, The value of an object may or may not be changed. 

If the value can be changed, we say that the object is **mutable**.

If it cannot be changed, we say that the object is **immutable**.

* **mutable**: lists, dictionaries, sets
* **immutable**: numbers, strings, tuples

For immutable objects, all the operation produce a new object as its results, but the original objects are never changed

In [172]:
S = 'xyz'
S + 'abc'
S

'xyz'

Immutable objects can not be changed in place after they are created, but you can always build a new one and assign it to the same name.

In [173]:
S = 'xyzabc'
S

'xyzabc'

## Summary

| Non-Collection | Collection  |
|----------------|-------------|
| Numbers        | Strings     |
|                | Lists       |
|                | Tuples      |
|                | Dictionaries|
|                | Sets        |

|Unordered       | Ordered   |
|----------------|-------------|
| Dictionaries   | Strings     |
|  Sets          | Lists       |
|                | Tuples      |

| Immutable      | Mutable   |
|----------------|-------------|
| Numbers        | Lists       |
| Strings        | Dictionaries|
| Tuples         | Sets        |